<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profiles | Bacoke</title>
</head>
<body>
    <div class="w-full block mx-auto">
        <!-- nav -->
        <div class="flex justify-between bg-lime-100">
            <div class="px-11 py-5">
                <h2 class="text-3xl font-bold text-lime-700 cursor-pointer"><a href="/index.html">Mandre Squad</a></h2>
            </div>
            <div class="px-11 py-6">
                <li class="list-none"><a href="#" class="text-sm underline text-lime-700">Docs</a></li>
            </div>
        </div>
        <!-- end nav -->
        
        <!-- profiles-->
        <div class="flex flex-col my-5 md:grid grid-cols-2 w-[50%] mx-auto">
            <div class="my-1 mx-3">
                <div class="w-full aspect-square bg-[url('../dist/cover/2.jpg')] bg-cover bg:scale-[125%] rounded-full">
                </div>
            </div>
            
            <div class="aspect-[4/3] mx-2 py-3">
                <h2 class="my-5 text-center font-semibold text-2xl text-lime-500">Agus Harianto</h2>
                <div class="text-center text-slate-700 text-sm font-thin">
                    "
                    Asal : Planet Mars
                    <br>
                    tinggi : 70Meter
                    <br>
                    lebar: 3Meter
                    <br>
                    Cita-Cita : Alien "
                </div>
            </div>
        </div>
        <!-- end profiles -->


        <!-- terima kasih -->
        <div class="w-[95%] h-[200px] bg-lime-100 mx-auto">
            <div class="py-2 shadow-xl px-5 bg-slate-100">
                <h2 class="text-center font-semibold font-mono text-2xl text-slate-500">Terima Kasih</h2>
            </div>
                <p class="text-xs text-slate-500 text-center pt-12 font-thin">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tempora architecto officia perferendis veniam praesentium suscipit voluptatem, voluptatibus sit soluta quis quod autem unde culpa, quae repudiandae accusantium eius ut."</p>
        </div>

        <!-- end terima kasih   -->

        <!-- card -->
        <div class=" w-[95%] mx-auto bg-slate-600 mb-60 rounded-b-md overflow-hidden">
            <!-- footer -->
            <div class="flex flex-col pb-5">
                <div class="my-2">
                    <h2 class="text-lime-100 font-base text-sm text-center">Copyright 2020 Mandre Squad</h2>
                    <p class="text-xs text-slate-400 text-center py-1">Created by <span><a href="" class="hover:text-lime-100 transtion-all duration-500"> Bacoke</a> | doTPyXLiza</span></p>
                </div>
                <h2 class="text-center mt-5 text-xs font-thin">Follow me on!</h2>
                <div class="flex flex-beetwen justify-center">
                    <div class="bg-slate-500 cursor-pointer mx-2 group hover:bg-pink-500 transition-all duration-500">
                        <li class="text-xs text-lime-200 list-none p-4"><a href="https://www.instagram.com/bac0ke" target="_blank" class="underline group-hover:text-slate-900 transition-all duration-500">Instagram</a></li>
                    </div>
                    <div class="bg-slate-500 cursor-pointer mx-2 group hover:bg-sky-600 transition-all duration-500">
                        <li class="text-xs text-lime-200 list-none p-4"><a href="https://www.facebook.com/mr.bacoke" target="_blank" class="underline group-hover:text-slate-900 transition-all duration-500">Facebook</a></li>
                    </div>
                    <div class="bg-slate-500 cursor-pointer mx-2 group hover:bg-red-500 transition-all duration-500">
                        <li class="text-xs text-lime-200 list-none p-4"><a href="#" class="underline group-hover:text-slate-900 transition-all duration-500">Youtube</a></li>
                    </div>
                </div>
            </div>
            <!-- end footer -->

            <!-- disclaimer -->
            <div class="bg-lime-50 flex flex-row justify-center">
                <div class="py-4 px-2 w-[75%] md:w-[90%]">
                    <h2 class="font-extralight ">disclaimer!</h2>
                    <p class="text-xs font-thin italic">* Website ini di buat hanya untuk hiburan, wkwkwkwk dan saya percayakan jeri mid</p>
                </div>
                <div class="w-[25%] md:w-[10%] flex items-center">
                    <div class="w-[90px] h-[40px] bg-slate-600 m-4 group cursor-pointer hover:bg-lime-200 transition-all duration-500">
                        <h2 class="py-2 px-1 font-thin text-center text-lime-100 text-md group-hover:text-slate-700 transition-all duration-500"><a href="#">To top</a></h2>
                    </div>
                </div>
            </div>
            <!-- end disclaimer -->
        </div>
        <p class="text-xs text-center font-thin mb-10">*** Terima Kasih ***</p>
    </div>
</body>
</html>